*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app > div{
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display: grid;
  grid-template-rows: auto minmax(134vh, 1fr) auto;
}

/* scrollbar */
::-webkit-scrollbar {
   display: none;
}

.logo{
  width: 4rem;
}

.pushingdown{
  margin-top: 20rem;
}

.footerI{
  width: 1.9rem;
}


.home{
  background-image: url('https://i.postimg.cc/kX5vhgQQ/aerial-view-person-with-jetski.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
}
.about{
  background-image: url('https://i.ibb.co/8rSDnTC/23-R-Z521-R-hero.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 65vh;
}

